body,p,li,a {
	font-family: georgia, times, serif;
	font-size: 13pt;
}

h1,h2,h3 {
	font-family: arial, serif;
}

#logo h1 {
	font-size: 24pt;
	display: inline;
	vertical-align: top;
}

#logo img {
	display: inline;
	vertical-align: bottom;
	margin-left: 50px;
	margin-right: 5px;
}

body {
	margin: 0;
	padding: 0;
}

#bd {
	width: 800px;
	height: 800px;
	margin: 10px auto;
}

#ct {
	width: 100%;
}

#hd {
	width: 100%;
	height: 64px;
}

#nv {
	width: 100%;
	height: 24px;
}

#ft {
	width: 100%;
	height: 32px;
}

#logo {
	
}

#title {
	
}

#copy {
	
}

#feedback {
	position: absolute;
	float: right;
	margin-top: 80px;
	margin-left: 500px;
	width: 250px;
	list-style: none;
}

.feedbackPanelERROR {
	color: red;
	list-style: circle;
	font-weight: bold;
}

.feedbackPanelINFO {
	color: green;
	list-style: circle;
	font-weight: bold;
}

fieldset {
	
}

#stylized {
	border: solid 12px #b7ddf2;
	font-size: 12px;
	background: #ebf4fb;
}

#stylized .darker {
	color: #000;
}

#stylized .lighter {
	color: #DDD;
}

#stylized h1 {
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 8px;
}

#stylized p {
	font-size: 11px;
	color: #666666;
	margin-bottom: 20px;
	border-bottom: solid 1px #b7ddf2;
	padding-bottom: 10px;
}

#stylized label {
	display: inline;
	font-weight: bold;
	text-align: right;
	width: 140px;
	float: left;
}

#stylized .small {
	color: #666666;
	display: block;
	font-size: 11px;
	font-weight: normal;
	text-align: right;
	width: 140px;
}

#stylized .form_input_line {
	clear: both;
	display: block;
	width: 100%;
}

#stylized input {
	float: left;
	font-size: 12px;
	padding: 4px 2px;
	border: solid 1px #aacfe4;
	width: 300px;
	color: #aaa;
	margin: 2px 0 20px 10px;
}

#stylized select {
	float: left;
	font-size: 12px;
	height: 26px;
	padding: 4px 2px;
	border: solid 1px #aacfe4;
	margin: 2px 0 20px 10px;
}

#stylized .submitButton {
	clear: both;
	margin-left: 150px;
	width: 160px;
	height: 31px;
	background: #666666;
	text-align: center;
	line-height: 21px;
	color: #FFFFFF;
	font-size: 13px;
	font-weight: bold;
}

#stylized .phoneSep {
	float: left;
	text-align: center;
	line-height: 29px;
	padding-left: 10px;
	padding-right: 0px;
}

/* ------------------------   TABPANEL   ------------------------  */
.tab-row {
	margin-top: -50px;
	padding-bottom: 20px;
}

.tabpanel div.tab-row li {
	margin: 0;
	padding: 0;
	display: inline;
	list-style-type: none;
	border: 1px solid brown;
}

.tabpanel div.tab-row a:link,div.tabpanel div.tab-row a:visited {
	float: left;
	background: #f3f3f3;
	font-size: 12px;
	line-height: 14px;
	font-weight: bold;
	padding: 2px 10px 2px 10px;
	margin-right: 4px;
	border: 1px solid #ccc;
	text-decoration: none;
	color: #666;
}

.tabpanel div.tab-row li.selected a:link,div.tabpanel div.tab-row a:visited.active
	{
	border-bottom: 1px solid #fff;
	background: #fff;
	color: #000;
}

.tabpanel div.tab-row a:hover {
	background: #fff;
}

table {
	margin-bottom: 10px;
	border-bottom: 1px solid #0079d6;
	font-size: 12px;
	font-family: arial;
	width: 100%;
}

th {
	background: #C3C3C3;
	color: white;
	font-weight: bold;
}

tr.b {
	font-size: 12px;
	font-family: arial;
	background: #F5F5F5;
}

a {
	font-size: 12px;
	font-family: arial;
}

tr.none {
	background: transparent;
}

tr.navigation .navigatorLabel {
	float: left;
}

tr.navigation .navigator {
	text-align: right;
}

tr {
	padding-top: 2px;
	padding-bottom: 2px;
}

tr.odd {
	background-color: #ffebcd;
}

tr.even {
	background-color: #fff;
}

tr td {
	padding-left: 8px;
	padding-right: 30px;
}

/* NAVIGATION */
tr.navigation {
	text-align: left;
	font-size: 0.8em;
}

tr.navigation td {
	padding-right: 0px;
}

/* HEADERS */
tr th {
	font-weight: normal;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 8px;
	padding-right: 24px;
	background-color: #c1e4ff;
	border-bottom: 1px solid #0079d6;
	border-top: 1px solid #0079d6;
	text-align: left;
	white-space: nowrap;
	vertical-align: middle;
}

tr th a {
	padding-right: 15px;
	background-position: right;
	background-repeat: no-repeat;
}

tr th.wicket_orderDown a {
	color: black;
	background-image: url(images/arrow_down.png);
}

tr th.wicket_orderUp a {
	color: black;
	background-image: url(images/arrow_up.png);
}

tr th.wicket_orderNone a {
	background-image: url(images/arrow_off.png);
}

tr th a {
	font-weight: normal;
}

/* FILTERS */
td.filter-td {
	font-size: 1em;
	background-color: #c1e4ff;
	border-bottom: 1px solid #0079d6;
}

td.filter-td input.go {
	width: 45%;
}

td.filter-td input.clear {
	width: 45%;
}

td.filter-td input {
	width: 100%;
	font-size: 0.6em;
}

td.filter-td select {
	width: 100%;
	font-size: 0.6em;
}

tr.section td {
	padding-top: 0.75em;
}